@font-face{
  font-family:"AntennaRegular";
  font-style: normal;
  font-weight: normal;

  src:url("https://s3-us-west-1.amazonaws.com/projects.sfchronicle.com/shared/fonts/antenna/regular/antennaregular.eot");

  src:url("https://s3-us-west-1.amazonaws.com/projects.sfchronicle.com/shared/fonts/antenna/regular/antennaregular.eot?") format("embedded-opentype"),
      url("https://s3-us-west-1.amazonaws.com/projects.sfchronicle.com/shared/fonts/antenna/regular/antennaregular.woff") format("woff"),
      url("https://s3-us-west-1.amazonaws.com/projects.sfchronicle.com/shared/fonts/antenna/regular/antennaregular.ttf") format("truetype");
}

@font-face{
  font-family:"AntennaExtraLight";
  font-style: normal;
  font-weight: normal;

  src:url("https://s3-us-west-1.amazonaws.com/projects.sfchronicle.com/shared/fonts/antenna/extralight/antennaextralight.eot");

  src:url("https://s3-us-west-1.amazonaws.com/projects.sfchronicle.com/shared/fonts/antenna/extralight/antennaextralight.eot?") format("embedded-opentype"),
      url("https://s3-us-west-1.amazonaws.com/projects.sfchronicle.com/shared/fonts/antenna/extralight/antennaextralight.woff") format("woff"),
      url("https://s3-us-west-1.amazonaws.com/projects.sfchronicle.com/shared/fonts/antenna/extralight/antennaextralight.ttf") format("truetype");
}

@font-face{
  font-family:"AntennaMedium";
  font-style: normal;
  font-weight: normal;

  src:url("https://s3-us-west-1.amazonaws.com/projects.sfchronicle.com/shared/fonts/antenna/2908d944-93cf-4073-8ab6-ff417bc9759a-2.eot");

  src:url("https://s3-us-west-1.amazonaws.com/projects.sfchronicle.com/shared/fonts/antenna/2908d944-93cf-4073-8ab6-ff417bc9759a-2.eot?") format("embedded-opentype"),
      url("https://s3-us-west-1.amazonaws.com/projects.sfchronicle.com/shared/fonts/antenna/2908d944-93cf-4073-8ab6-ff417bc9759a-3.woff") format("woff"),
      url("https://s3-us-west-1.amazonaws.com/projects.sfchronicle.com/shared/fonts/antenna/2908d944-93cf-4073-8ab6-ff417bc9759a-1.ttf") format("truetype");
}

@font-face{
  font-family:"AntennaBold";
  font-style:normal;
  font-weight:bold;

  src:url("https://s3-us-west-1.amazonaws.com/projects.sfchronicle.com/shared/fonts/antenna/b9884997-4bb8-4ffa-ac3c-a2d5598fb1b2-2.eot");
  src:url("https://s3-us-west-1.amazonaws.com/projects.sfchronicle.com/shared/fonts/antenna/b9884997-4bb8-4ffa-ac3c-a2d5598fb1b2-2.eot?") format("embedded-opentype"),
      url("https://s3-us-west-1.amazonaws.com/projects.sfchronicle.com/shared/fonts/antenna/b9884997-4bb8-4ffa-ac3c-a2d5598fb1b2-3.woff") format("woff"),
      url("https://s3-us-west-1.amazonaws.com/projects.sfchronicle.com/shared/fonts/antenna/b9884997-4bb8-4ffa-ac3c-a2d5598fb1b2-1.ttf") format("truetype");
}

@font-face{
  font-family:"AntennaBlack";
  font-style: normal;
  font-weight: normal;

  src:url("https://s3-us-west-1.amazonaws.com/projects.sfchronicle.com/shared/fonts/antenna/1ab9da94-2ce2-44e7-ab48-6d15380b8c97-2.eot");
  src:url("https://s3-us-west-1.amazonaws.com/projects.sfchronicle.com/shared/fonts/antenna/1ab9da94-2ce2-44e7-ab48-6d15380b8c97-2.eot?") format("embedded-opentype"),
      url("https://s3-us-west-1.amazonaws.com/projects.sfchronicle.com/shared/fonts/antenna/1ab9da94-2ce2-44e7-ab48-6d15380b8c97-3.woff") format("woff"),
      url("https://s3-us-west-1.amazonaws.com/projects.sfchronicle.com/shared/fonts/antenna/1ab9da94-2ce2-44e7-ab48-6d15380b8c97-1.ttf") format("truetype");
}

@font-face{
  font-family:"FarnhamText";
  font-style: normal;
  font-weight: normal;

  src:url("https://s3-us-west-1.amazonaws.com/projects.sfchronicle.com/shared/fonts/farnhamtext/ed626233-1ce5-4089-9d5b-9059102dadf9-2.eot");

  src:url("https://s3-us-west-1.amazonaws.com/projects.sfchronicle.com/shared/fonts/farnhamtext/ed626233-1ce5-4089-9d5b-9059102dadf9-2.eot?") format("embedded-opentype"),
      url("https://s3-us-west-1.amazonaws.com/projects.sfchronicle.com/shared/fonts/farnhamtext/ed626233-1ce5-4089-9d5b-9059102dadf9-3.woff") format("woff"),
      url("https://s3-us-west-1.amazonaws.com/projects.sfchronicle.com/shared/fonts/farnhamtext/ed626233-1ce5-4089-9d5b-9059102dadf9-1.ttf") format("truetype");
}

@font-face{
    font-family: "FarnhamTextBold";
    font-style: normal;
    font-weight: bold;

    src:url("https://s3-us-west-1.amazonaws.com/projects.sfchronicle.com/shared/fonts/farnhamtext/ed9e2917-f97e-4f03-b699-813967a6c002-2.eot");

    src:url("https://s3-us-west-1.amazonaws.com/projects.sfchronicle.com/shared/fonts/farnhamtext/ed9e2917-f97e-4f03-b699-813967a6c002-2.eot") format("embedded-opentype"),
        url("https://s3-us-west-1.amazonaws.com/projects.sfchronicle.com/shared/fonts/farnhamtext/ed9e2917-f97e-4f03-b699-813967a6c002-3.woff") format("woff"),
        url("https://s3-us-west-1.amazonaws.com/projects.sfchronicle.com/shared/fonts/farnhamtext/ed9e2917-f97e-4f03-b699-813967a6c002-1.ttf") format("truetype");
}


@font-face{
  font-family:"FarnhamDisplayLight";
  font-style: normal;
  font-weight: normal;

  src:url("https://s3-us-west-1.amazonaws.com/projects.sfchronicle.com/shared/fonts/farnhamtext/display_light/farnhamdisplay-light.eot");

  src:url("https://s3-us-west-1.amazonaws.com/projects.sfchronicle.com/shared/fonts/farnhamtext/display_light/farnhamdisplay-light.eot") format("embedded-opentype"),
      url("https://s3-us-west-1.amazonaws.com/projects.sfchronicle.com/shared/fonts/farnhamtext/display_light/farnhamdisplay-light.woff") format("woff"),
      url("https://s3-us-west-1.amazonaws.com/projects.sfchronicle.com/shared/fonts/farnhamtext/display_light/farnhamdisplay-light.ttf") format("truetype");
}

@font-face{
  font-family:"DispatchLight";
  font-style: normal;
  font-weight: normal;

  src:url("https://s3-us-west-1.amazonaws.com/projects.sfchronicle.com/shared/fonts/dispatch/light/dispatch-light.eot");

  src:url("https://s3-us-west-1.amazonaws.com/projects.sfchronicle.com/shared/fonts/dispatch/light/dispatch-light.eot") format("embedded-opentype"),
      url("https://s3-us-west-1.amazonaws.com/projects.sfchronicle.com/shared/fonts/dispatch/light/dispatch-light.woff") format("woff"),
      url("https://s3-us-west-1.amazonaws.com/projects.sfchronicle.com/shared/fonts/dispatch/light/dispatch-light.ttf") format("truetype");

}


* {
  box-sizing: border-box;
}

html, body {
  min-height: 100%;
  min-height: 100vh;
  margin: 0;
}

body {
  font-family: "ff-dagny-web-pro", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.row {
  display: flex;
  height: 50%;
  flex: 1 0 50%;
}

.row textarea, .row .formatting {
  flex: 1 1 50%;
}

textarea {
  background: radial-gradient(white, #eee);
  font-size: 24px;
  padding: 8px;
  resize: none;
}

.formatting {
  font-size: 14px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.formatting .setting {
  display: flex;
  padding: 4px 0;
  align-items: center;
  border-bottom: 1px dotted #333;
}

.setting label {
  flex: 1 1 50%;
}

.setting input, .setting select {
  width: 100px;
  font-size: inherit;
  border: none;
  background: white;
  padding: 4px;
  text-align: center;
}

.setting.toggle-button {
  display: flex;
  border-bottom: none;
}

.toggle-button input {
  display: none;
}

.toggle-button label[for] {
  border: 1px solid #ddd;
  border-right: none;
  padding: 4px 8px;
  text-align: center;
  transition: all .2s linear;
}

.toggle-button input:first-child + label[for] {
  border-radius: 4px 0 0 4px;
}

.toggle-button label[for]:last-child {
  border-right: 1px solid #bbb;
  border-radius: 0 4px 4px 0;
}

.toggle-button input:checked + label {
  font-weight: bold;
  background: #ddd;
}

.toggle-collection {
  display: flex;
  justify-content: space-between;
}

.toggle-collection .toggle-button {
  flex: 0 1 45%;
}

.preview-container {
  flex: 0 1 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #888;
  padding: 24px;
  overflow: hidden;
}

.preview {
  object-fit: contain;
  background: @salmon;
  top: 10;
  left: 10;
  width: 100%;
  height: 100%;
}

#file {
  display: none;
}

.download, .set-image {
  display: block;
  margin: 8px;
  padding: 8px 16px;
  background: #ec1c24;
  color: white;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .3s linear;
  box-shadow: 0 4px 4px rgba(0, 0, 0, .1);
  cursor: pointer;
}

.zoom {
  display: block;
  margin: 0px;
  padding: 4px 16px;
  color: black;
  text-align: center;
  text-decoration: none;
  border: 1px solid #ddd;
  transition: all .3s linear;
  box-shadow: 0 4px 4px rgba(0, 0, 0, .1);
  cursor: pointer;
}

.opacity-group {
  margin: 0 auto;
  padding-bottom: 10px;
}

.download:hover, .download:focus {
  background: #b96263;
  box-shadow: 0 8px 4px -4px rgba(0, 0, 0, .2);
}

ul.checkbox-group {
  list-style: none;
}

input.swatch {
  border: 1px solid #d3d3d3;
  border-radius: 3px;
  cursor: pointer;
  display: inline;

  margin: 0;
  margin-left: 1em;
  outline: none;
  text-align: center; 
}


p {
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 0px;
  margin-bottom: 5px;
}

.image-edit {
  border-bottom: 1px dotted #333;
  align-items: center;
}


